@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

/* Override DaisyUI uppercase on headings */
h1, h2, h3, h4, h5, h6 {
  text-transform: none;
}

.word-font {
  font-family: var(--e-global-typography-accent-font-family, "Open Sans"), Sans-serif;
  font-weight: var(--e-global-typography-accent-font-weight, 600);
  font-size: 16px;
  text-transform: uppercase;
  line-height: 50px;
}

.navbar-text {
  color: #000000;
}